* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}
.container {
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(375px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 2rem;
}

.item {
    background-color: lightseagreen;
}
.item:nth-of-type(1) {
    background-image: url(../assets/icon/jakob-owens-ycExgCMRggc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 100vw;
    height: 50vh;
    background-color: lightslategray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    margin-top: 2rem;
}
.items {
    background-color: magenta;
    border: 4px solid red;
}
.items:nth-of-type(2) {
    background-image: url(../assets/icon/jakob-owens-ycExgCMRggc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .background {
    background-color: skyblue;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
} */
/* .child {
    background-color: teal;
    border: 4px solid red;
} */

.fondo {
    display: grid;
    grid-template-columns: auto fit-content(200px) auto;
    width: 100vw;
    height: 50vh;
    background-color: lightblue;
    margin-top: 2rem;
}
.childs {
    background-color: blue;
    border: 3px solid red;
}