* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}
main {
  width: 960px;
  height: 640px;
  background-color: lightskyblue;
}
.container {
    width: 100%;
    height: 100%;
    gap: .5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.wrapper {
    width: 100%;
    height: 500px;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 30px;
    gap: 5px;

    grid-template-areas: "header header"
                         "nav    main "
                         "nav footer ";
}
.wrapper > header {
    grid-area: header;
    background-color: green;
}

.wrapper > nav {
    grid-area: nav;
    background-color: hotpink;
}
.wrapper > main {
    grid-area: main;
    background-color: indianred;
}
.wrapper > footer {
    grid-area: footer;
    background-color: indigo;
}

