* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
}
/* .container {
    width: 100vw;
    height: 75vh;
    background-color: lightgray;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    gap: 5px 5px;
    grid-template-areas: "header header header header header"
                         "main   main   .      sidebar sidebar"
                         "main   main   .      sidebar sidebar"
                         "main   main   .      sidebar sidebar"
                         "footer footer footer footer footer";
}

.container >.itemOne {
    grid-area: header;
    background-color: lightskyblue;
}
.itemTwo {
  grid-area: main;
  background-image: url(../assets/img/jakob-owens-0Xl9HAf0RyE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.itemThree {
  grid-area: sidebar;
  background-color: lightpink;
}
.itemFour {
  grid-area: footer;
  background-color: lightgoldenrodyellow;
} */

/* .wrapper {
    background-color: lightpink;
    width: 100vw;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 30px;
    gap: 5px;
    margin-bottom: 2rem;
    grid-template-areas: "header header header header"
                         "main   main   sidebar sidebar"
                         "footer footer footer  footer";
}
.wrapper > .item {
    grid-area: header;
    background-color: magenta;
}
.item:nth-last-of-type(2) {
    grid-area: main;
    background-image: url(../assets/img/jakob-owens-0Xl9HAf0RyE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item:nth-last-of-type(3) {
    grid-area: sidebar;
    background-color: lightslategray;
}
.item:nth-last-of-type(4) {
    grid-area: footer;
    background-color: black;
} */

/* Practice Two*/
/* main {
    width: 100%;
    height: 75vh;
    background-color: lightslategray;
}
.container {
    width: 750px;
    height: 500px;
    background-color: lightseagreen;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 10px;
}
.item {
    background-color: magenta;
}
.item:nth-of-type(2) {
    background-color: mediumblue;
} */

/* .grid-container {
    display: grid;
    justify-content: end;
    align-content: end;
    width: 200px;
    height: 200px;
    border: 4px dotted lightpink;
}
.container {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    background-color: lightskyblue;
    width: 100px;
    height: 100px;

}
.item {
    background-color: magenta;
    border: 1px solid red;
} */

/*Three Practice*/
.wrapper {
    width: 100vw;
    height: 75vh;
    display: grid;
    background-color: lightgray;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    height: 75vh;
    background-color: lightseagreen;
    gap: .5rem;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
}
.item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-image: url(../assets/img/jakob-owens-0Xl9HAf0RyE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item:nth-of-type(2) {
     grid-column: 3 / 4;
     grid-row: 1 / 4;
     background-image: url(../assets/img/surface-fn2x9qCnTlg-unsplash.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.item:nth-of-type(3){
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    background-image: url(../assets/img/tani-olorunyomi-jO6467xTRnA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item:last-child {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-image: url(../assets/img/jakob-owens-ycExgCMRggc-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
