* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
}
main {
    margin-bottom: 2rem;
}
.container {
    width: 100vw;
    height: 75vh;
    background-color: lightgray;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    gap: 5px 5px;
    grid-template-areas: "header header header header header"
                         "main   main   .      sidebar sidebar"
                         "main   main   .      sidebar sidebar"
                         "main   main   .      sidebar sidebar"
                         "footer footer footer footer footer";
}

.container >.itemOne {
    grid-area: header;
    background-color: lightskyblue;
}
.itemTwo {
  grid-area: main;
/*   background-color: limegreen; */
  background-image: url(../assets/img/jakob-owens-0Xl9HAf0RyE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.itemThree {
  grid-area: sidebar;
  background-color: lightpink;
}
.itemFour {
  grid-area: footer;
  background-color: lightgoldenrodyellow;
}

.wrapper {
    background-color: lightpink;
    width: 100vw;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr 30px;
    gap: 5px;
    margin-bottom: 2rem;
    grid-template-areas: "header header header header"
                         "main   main   sidebar sidebar"
                         "footer footer footer  footer";
}
.wrapper > .item {
    grid-area: header;
    background-color: magenta;
}
.item:nth-last-of-type(2) {
    grid-area: main;
  /*   background-color: mediumturquoise; */
    background-image: url(../assets/img/jakob-owens-0Xl9HAf0RyE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item:nth-last-of-type(3) {
    grid-area: sidebar;
    background-color: lightslategray;
}
.item:nth-last-of-type(4) {
    grid-area: footer;
    background-color: black;
}